<footer class="page-wrap">
    <div id="footer-content">
    	<div>
    		<h3>Work place</h3>
			<dl>
    				<dd>State Key Laboratory of Resources and Environmental Information System, Institute of Geographic Sciences and Natural Resources Research, Chinese Academy of Sciences</dd> 
			</dl>
		</div>
		
		<div>
			<h3>Contact</h3>
			<p>Jianghao Wang</p>
			<p class="footer-email"><i class="icon-email"></i> wangjh@lreis.ac.cn</p>
		</div>
    </div>
	
	<div>
		<ul class="buttons inline">
			<li class="share-button">
				<iframe width="200" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=200&height=75&fansRow=1&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=2283242060&verifier=8a8120bb&colors=d6f3f7,464646,666666,0082cb,ecfbfd&dpc=1"></iframe>
			</li>
		</ul>
	</div>
		
    <div id="social-icons">
	    <a class="icon-github" href="https://github.com/jianghao">Github</a>
	    <a class="icon-fb" href="https://www.facebook.com/wang.jianghao.3">Facebook</a>
	    <a class="icon-twitter" href="https://twitter.com/JianghaoWang">Twitter</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>